body{
	background:#232323;
	color:rgb(201, 192, 233);
	font-size: 20px;
	font-family:'Times New Roman', Times, serif
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	width:80%;
	margin: 0 auto;
	height: 90vh;
	
}
.post{
	padding: 3em;
	text-align: center;
	border: 1px dotted #fff;
}
.cabecera{
	display: flex;
	align-items: center;
	justify-content: center;
	background:rgb(3, 25, 73);
	color: azure;
	font-size: 2em;
	font-family: 'Courier New', Courier, monospace;
	padding:0.9em 0;
}
.img-responsive{
	width: 80px;
}
