body{
	background:#232323;
	color:#fff;
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	width:80%;
	margin: 0 auto;
	height: 90vh;
	
}
.post{
	padding: 3em;
	text-align: center;
	border: 1px dotted #fff;
}

